.details {
  padding: 20px;
  border: 4px solid #20d79f;
  border-radius: 10px;
  box-shadow: rgb(240 46 170 / 40%) 0px 5px, rgb(240 46 170 / 30%) 0px 10px;
  margin: 40px;
}

.details__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  width: 240px;
}

.details__cover-art {
  display: flex;
  width: 100%;
}

@media only screen and (max-device-width: 500px) {
  .details {
    margin: 0;
  }
}
