.card {
  display: flex;
}

.card-cover {
  padding: 20px;
  border-radius: 14px;
  box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px,
    rgb(14 30 37 / 32%) 0px 2px 16px 0px;
  height: 244px;
  width: 200px;
  position: relative;
}

@media only screen and (max-device-width: 375px) {
}
